<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-size: 1rem;
      margin: 0;
    }

    .container {
      width: 800px;
      margin: 0 auto;
      padding: 24px 0 16px;
    }

    p {
      font-weight: normal;
      font-size: 1rem;
      color: #242424;
    }

    .social img {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }

    .block {
      display: block;
    }

    .menu-footer {
      border-left: 1px solid #242424;
      margin-left: 10px;
      padding-left: 10px;
      text-decoration: none;
    }

    .menu-footer:first-child {
      border: none;
    }

    .column-left {
      width: 50%;
    }

    .column-right {
      width: 50%;
      text-align: right;
      vertical-align: top;
    }

    .text-16 {
      font-size: 1rem;
    }

    .mb-10 {
      margin-bottom: 10px;
    }

    .mb-24 {
      margin-bottom: 24px;
    }

    .mb-30 {
      margin-bottom: 30px;
    }

    .ml-15 {
      margin-left: 15px;
    }

    table {
      width: 100%;
    }

    .image {
      width: 100%;
    }

    .logo {
      text-align: center;
    }

    .wrapper {
      margin: 0 auto;
      max-width: 800px;
      border-radius: 8px;
      border: 1px solid #d1d1d1;
      padding: 0 16px;
      margin-bottom: 16px
    }

    .table {
      margin: 0 0 40px 0;
      width: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    .row {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .row:not(:last-child) {
      border-bottom: 1px solid #d1d1d1;
    }

    .table .header {
      font-weight: 900;
      color: #000;
    }

    .cell {
      padding: 8px 12px;
    }

    .token {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      word-break: break-all;
    }

    .token img {
      margin-right: 4px;
      width: 20px;
      height: 20px;
    }
  
    .bank-infor {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="container-wrapper">
    <div class='container'>
      <!-- start -->
      <div class="content">
        <div class="logo mb-30">
          <a href={{landingPage}} target="_blank"><img src="cid:logo-frac" height="100px" alt="logo"></a>
        </div>
        <div class="content-email">
          <p>Thank you for using iGold.</p>
          {{#if isCrypto}}
            <p>The withdrawal request <a style="text-decoration: none;" target="_blank" href={{fractorDomain}}/{{localization}}/withdraw-request/{{requestId}}><b>{{requestId}}</b></a> was successfully processed and withdrawn to withdrawal address:<br/>
                <a target="_blank" style="text-decoration: none;" href={{bscDomain}}/address/{{recipientWalletAddress}}><b>{{recipientWalletAddress}}</b></a>
            </p>
            <p>Below is the transaction hash: <a target="_blank" style="text-decoration: none;" href={{bscDomain}}/tx/{{txHash}}><b>{{txHash}}</b></a></p>
            <p><a target="_blank" href={{fractorDomain}}/{{localization}}/withdraw-request/{{requestId}}/><button style="font-size: 1rem;background: rgb(26, 115, 232);color: white;border: none;padding: 7px;width: 180px;border-radius: 3px;">Withdrawal History</button></a></p>
          {{else}}
            <p>The withdrawal request <a style="text-decoration: none;" target="_blank" href={{fractorDomain}}/{{localization}}/withdraw-request/{{requestId}}><b>{{requestId}}</b></a> was successfully processed and withdrawn to Your Bank Account<br/></p>
            <p style="font-size: 16px"><b>Withdrawal Amount</b></p>
            <div class="wrapper">

              <div class="table">

                <div class="row header">
                  <div class="cell" style="width: 35%">
                    Currency
                  </div>
                  <div class="cell">
                    Amount
                  </div>

                </div>
                {{#each revenue}}
                <div class="row">
                  <div class="cell token" style="width: 35%; font-weight: 400">
                    <img src={{logoUrl}} alt="token" />
                    {{acceptedCurrencySymbol}}
                  </div>
                  <div class="cell" style="font-weight: 400">
                    {{balance}}
                  </div>
                </div>
                {{/each}}

              </div>

            </div>
            <p style="font-size: 1rem; margin: 0px; margin-bottom: 8px; line-height: 24px"><b>Recipient Bank Account</b></p>
            <div style="width: 100%; height: 114px; background: rgba(244, 244, 244, 1); border-radius: 12px; padding: 16px 24px 16px 24px">
              <div class="bank-infor">
                <span class="column-left">Bank:</span>
                <span class="column-right" style="font-weight: bold">{{recipientBankName}}</span>
              </div>
              <div class="bank-infor">
                <span class="column-left">Beneficiary Account:</span>
                <span class="column-right" style="font-weight: bold">{{recipientAccountNumber}}</span>
              </div>
              <div class="bank-infor">
                <span class="column-left">Beneficiary Name:</span>
                <span class="column-right" style="font-weight: bold">{{recipientAccountHolder}}</span>
              </div>
            </div>
          {{/if}}
          <p style="font-size: 1rem; margin: 0px; margin-bottom: 8px; line-height: 24px"><b>Recipient email</b></p>
          <p>{{email}}</p>
          {{#if isCrypto}}
          {{else}}
          <p style="font-size: 1rem; margin: 0px; margin-bottom: 8px; line-height: 24px"><b>Proof of Transferral</b></p>
          <a target='_blank' href={{proofUrl}} rel='noreferrer'>View Attached File</a>
          {{/if}}
          <p>If you have any questions, feel free to <a style="text-decoration: none;" target="_blank" href={{contactUs}}><b>contact our customer support</b>.</a></p>
          <p>Thank you for your continued patronage of iGold.</p>
          <p>iGold</p>
        </div>
        <table>
          <tbody>
            <tr>
              <td class="column-left">
                <a class="mb-24" href={{landingPage}} target="_blank">
                  <img src="cid:logo-frac" height="30px" alt="logo">
                </a>
                <p class="color-gray">Elegance meets Technology</p>
              </td>
              <td class="column-right">
                <div class="mb-10">
                  <a style="text-decoration: none;" href={{dexDomain}} class="menu-footer" target="_blank"><b>Exchange</b></a>
                  <a style="text-decoration: none;" href={{traderDomain}} class="menu-footer" target="_blank"><b>IAO</b></a>
                  <a style="text-decoration: none;" href={{fractorDomain}} class="menu-footer" target="_blank"><b>Fractor</b></a>
                  <a style="text-decoration: none;" href={{landingPage}} class="menu-footer" target="_blank"><b>About us</b></a>
                </div>
                <div>
                  <label class="mb-10 block">Follow us on:</label>
                  <div>
                    
                    <a target="_blank" style="text-decoration: none;" class="ml-15"
                      href={{linkedinLink}}>
                      <img
                        src="cid:linkedin"
                        alt="">
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>

